body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#threejs-container {
    width: 100vw;
    height: 100vh;
}

h1 {
    position: absolute;
    color: white;
    top: 20px;
    left: 20px;
    z-index: 10;
}
