body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#threejs-container {
    width: 100vw;
    height: 100vh;
}

.container {
    position: absolute;
    top: 20px;
    transform: translate(-50%, 0);
    left: 50%;
    z-index: 10;
}
